*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #ffff;
    font-family: 'roboto slab', sans-serif;
}
.logo{
    font-size: 25px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header-one{
    background: linear-gradient(to top, rgba(224, 6, 6, 0.637), rgba(128, 0, 128, 0.707)), url("./images/img1.jpg");
    background-size: cover;
    width: 100%;
    height: 50rem;
}
.header-two{
    background: linear-gradient(to top, rgba(224, 6, 6, 0.637), rgba(128, 0, 128, 0.707)), url("./images/coding.png");
    background-size: cover;
    width: 100%;
    height: 50rem;
}
.header-three{
    background: linear-gradient(to top, rgba(224, 6, 6, 0.637), rgba(128, 0, 128, 0.707)), url("./images/social\ media.jpg");
    background-size: cover;
    width: 100%;
    height: 50rem;
}
.header-four{
    background: linear-gradient(to top, rgba(224, 6, 6, 0.637), rgba(128, 0, 128, 0.707)), url("./images/laptop.jpg");
    background-size: cover;
    width: 100%;
    height: 50rem;
}
.header-five{
    background: linear-gradient(to top, rgba(224, 6, 6, 0.637), rgba(128, 0, 128, 0.707)), url("./images/img-me.jpg");
    background-size: cover;
    width: 100%;
    height: 50rem;
}
.header-six{
    background: linear-gradient(to top, rgba(224, 6, 6, 0.637), rgba(128, 0, 128, 0.707)), url("./images/administration.jpg");
    background-size: cover;
    width: 100%;
    height: 50rem;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 5%;
    align-items: center;
}
.nav-link{
    display: flex;
}
.nav-link li{
    list-style: none;
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav-link li a{
    color: #ffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
.nav-link li a:hover{
    background-color: blue;
}
.toggle-one{
    font-size: 25px;
    background-color: blue;
    padding:  5px 9px;
    cursor: pointer;
    border-radius: 5px;
}
.toggle-two{
    font-size: 30px;
    cursor: pointer;
    border-radius: 3px;
}
.togle{
    background-color: red;
    width: 100%;
    position: relative;
    height: 3rem;
}
.banner{
    display: flex;
    align-items: center;
    height: 80%;
    margin-left: 4rem;
}
.other-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.other-banner h1{
    text-align: center;
}
.welcome{
    color: #ffff;
    font-size: 45px;
    font-weight: 700;
    position: relative;
    animation-name: welcome;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes welcome{
    0%{
        top: -1000px;
    }
    100%{
        top: -20px;
    }
}
.welcome span{
    color: rgb(255, 0, 0);
}
.banner button{
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    border: 2px solid navy;
    background: none;
    margin-top: 5rem;
    font-weight: 700;
    transition-property: transform;
    transition-duration: 1s;
    animation-name: button;
    animation-duration: 5s;
    position: relative;
}
@keyframes button{
    0%{
        bottom: -1000px;
    }
    100%{
        bottom: 0px;
    }
}
.banner button:hover{
    transform: rotateY(180deg);
}
.banner button a{
    text-decoration: none;
    color: #ffff;
}
.banner-cut{
    display: grid;
    position: relative;
}
.banner-welcome p{
    width: 50%;
    font-size: 20px;
    font-weight: 600;
    font-family: monospace;
    animation-name: text;
    animation-duration: 5s;
    position: relative;
}
@keyframes text{
    0%{
        left: -1000px;
    }
    100%{
        left: 0;
    }
}
.logo-img{
    background-color: rgba(3, 2, 49, 0.72);
    padding: .6rem;
    border-radius: 5px;
    width: 10rem;
    position: absolute;
    right: 10rem;
    top: 8rem;
    box-shadow: 0 0 10px 3px rgb(255, 0, 68);
}
.logo-one{
    width: 140px;
    border-radius: 50%;
}
.other-banner-content{
    animation-name: logo;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    position: relative;
    top: 0;
}
@keyframes logo{
    from{
        top: -1000px;
    }
    to{
        top: -50px;
    }
}
.other-banner-content h3{
    font-size: 25px;
    text-align: center;
}
.paragraph{
    text-align: center;
    margin: 10%;
    animation-name: paragraph;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    position: relative;
    bottom: 0;
}
.paragraph p{
    font-size: 20px;
}
@keyframes paragraph{
    from{
        bottom: -500px;
    }
    to{
        bottom: 20px;
    }
}
.more{
    text-align: center;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.notice{
    margin: 2rem;
    background-color: rgba(255, 0, 0, 0.659);
    padding: 1rem;
    border-radius: 7px;
    text-align: center;
}
.notice h3{
    color: rgb(0, 255, 225);
    font-size: 25px;
    margin-bottom: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.notice button{
    margin-top: 2rem;
}
/* comment */
.comment{
    margin: 7%;
    padding: 10px;
    background-color: #313131;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 4px #ffff;
}
.comment form{
    display: grid;
    margin: 1rem;
    font-size: 18px;
}
.comment form input,textarea{
    padding: 7px;
    background: none;
    border-radius: 5px;
    border: 1px solid #fff;
    outline: none;
    padding: 10px;
    margin:  10px 0 10px 0;
    font-size: 20px;
    color: #ffff;
}
.comment form button{
    background-color: blue;
    padding: 8px;
    border: none;
    color: #ffff;
    border-radius: 4px;
    margin-top: 1rem;
}
/* services */
#service, #port, #about, #overview{
    margin: 1.5rem;
}
.services{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(230px, 1fr));
    grid-gap: 1rem;
}
.app-one{
    background-color: #3b3b3f;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
    position: relative;
}
.app-one h3{
    font-size: 20px;
}
.app-one strong i{
    font-size: 50px;
}
.app-one p{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.app-one ul li{
    list-style: none;
    margin-top: 6px;
    font-size: 12px;
}
.app-one a{
    text-decoration: none;
    font-size: 15px;
    color: red;
}
.app-one:hover{
    background-color: rgb(101, 25, 171);
    animation-name: appone;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transition-property: background ;
    transition: 1s;
}
@keyframes appone{
    from{
        bottom: 0px;
    }
    to{
        bottom: 8px;
    }
}
/* footer */
footer{
    background-color: #313131;
    padding: 2rem 1rem 1rem;
}
.foot-all{
    display: flex;
    justify-content: space-between;
}
.quicklinks ul li, .contact ul li{
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    font-size: 18px;
}
.quicklinks ul li a{
    color: #ffff;
    text-decoration: none;
}
h2{
    color: rgb(242, 4, 44);
}
.copyright{
    text-align: center;
    font-size: 18px; 
}
.copyright p{
    padding: 10px 0px 5px 0px;
    border-top: 2px solid white;
}
.image-me{
    height: 20rem;
    width: 20rem;
    box-shadow: 0px 0px 9px 5px red;
    margin: 1rem;
    background-image: url("./images/img-me.jpg");
    background-size: cover;
}
.about-me-split{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
    gap: 1rem;
    width: 100%;
}
/* my workd */

.myworks{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
    gap: 1rem;
    align-items: center;
}
.works-list{
    background: url("./images/daniel-korpai-iopITwyUcTA-unsplash.jpg") no-repeat;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}
.works-list-two{
    background: url("./images/designer.jpg") no-repeat;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}
.works-list-three{
    background: url("./images/keys.jpg") no-repeat;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}
.inks{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.734), rgba(255, 0, 0, 0.882));
    height: 20rem;
    text-align: center;
    color: #ffff;
    padding: 0px 9px 0px 9px;
    border-radius: 10px;
    opacity: 0;
}
.links{
    text-align: center;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.507);
    border-radius: 5px;
    padding: 10px 16px;
    margin-top: 1rem;
    font-size: 20px;
}
.links a{
    color: #ffff;
    text-decoration: none;
}
.works-list:hover .inks,.works-list-two:hover .inks,.works-list-three:hover .inks{
    animation: animate;
    animation-duration: 0.8s;
    position: relative;
    animation-fill-mode: forwards;
}
@keyframes animate{
    0%{
        bottom: -20rem;
        opacity: -2;
    }
    100%{
        bottom: 0rem;
        opacity: 1;
    }
}
.inks h3{
    padding: 5rem 0 2rem 0;
}
.link{
    background-color: #ffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
}
.connect ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.connect ul li{
    margin: 4px 0px 10px 0px;
}
.connect ul li a{
    color: red;
    font-size: 25px;
}
.cts{
    margin: 1rem;
    background-color: #3b3b3f;
    padding: 1rem;
    border-radius: 6px;
}
.cts p{
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 115, 0);
}
.cts i{
    font-size: 23px;
    color: red;
    margin-right: 5px;
}
.my-bio{
    margin: 2rem;
}
.story{
    text-align: center;
    margin-bottom: 1rem;
}
.top{  
    position: relative;
}
.top p{
    background-color: #ffff;
    border-radius: 5px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 45px;
    width: 45px;
    right: 1.5rem;
    bottom: 7rem;
}
.question{
    margin: 1rem 0rem 1rem 3rem;
    font-family: 'roboto', sans-serif;
    position: relative;
}
.question p{
    width: 80%;
}
.angles{
    right: 10%;
    position: absolute;
    color: red;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #fff;
    padding: 3px 5px;
    border-radius: 5px;
    bottom: 1%;
    transition-property: transform;
}
.q3 h4, .q4 h4{
    margin: 10px;
}
.openangles{
    transform: rotateX(180deg);
    transition: 0.5s;
    color: #fff;
}
.open-q1{
    height: 55px;
    position: absolute;
    animation: q1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes q1{
    from{
        height: 55px;
    }
    to{
        height: 300px;
    }
}

.open-q2{
    height: 55px;
    position: absolute;
    animation: q2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes q2{
    from{
        height: 55px;
    }
    to{
        height: 270px;
    }
}

.open-q3{
    height: 55px;
    position: absolute;
    animation: q3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes q3{
    from{
        height: 55px;
    }
    to{
        height: 450px;
    }
}

.open-q4{
    height: 300px;
    position: absolute;
    animation: q4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes q4{
    from{
        height: 55px;
    }
    to{
        height: 1050px;
    }
}

.open-q5{
    height: 300px;
    position: absolute;
    animation: q5;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes q5{
    from{
        height: 55px;
    }
    to{
        height: 100px;
    }
}
.q1,.q2,.q3,.q4,.q5{
    position: relative;
    overflow: hidden;
    height: 55px;
}

.q1 h3, .q2 h3, .q3 h3, .q4 h3, .q5 h3{
    margin: 1rem 0;
    position: relative;
    width: 87%;
}
.about-read-me{
    margin: 1rem;
    background-color: #313131;
    padding: 10px;
    border-radius: 5px;
}
.about-read-me h3{
    text-align: center;
}
.mission{
    margin: 1rem;
}
.acc-select{
    position: relative;
    cursor: pointer;
}
.acc{
    background-color: #080808c8;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    align-items: center;
    position: absolute;
    display: none;
}
.open-register{
    display: block;
}
.acc li{
    margin: 1rem;
}
 /* blog */
 .blogger-list{
    margin: 2rem;
 }
 .blog-1{
    align-items: center;
    margin: 0px 0px 2rem 0;
 }
 .blog-img{
    width: 50%;
    position: relative;
    left: 25%;
    margin: 1rem 0 1rem 0;
 }
 .blog-img-2{
    width: 25%;
    position: relative;
    left: 30%;
    margin: 1rem 0 1rem 0;
 }
 .blog-1 a,.blog-2 a{
    text-decoration: none;
    color: red;
    font-size: 18px;
 }
 .blog-1 h4, .blog-2 h4{
    margin: 10px;
    font-size: 20px;
 }
 .making-list li{
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
 }
 .withdraw li{
    font-size: 15px;
    font-weight: 400;
 }
 .latest-blog{
    margin: 2rem;
 }
 .lat-link{
    background-color: aliceblue;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 1rem;
 }
 .lat-list{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
    gap: 2rem;
 }
 .lat-link a{
    text-decoration: none;
    color: red;
    font-weight: 600;
 }
 .date{
    margin: 1rem 0;
 }
 .lat-blog-one{
    background-color: #080808;
    box-shadow: 1px 1px 8px 1px  #fff;
    padding: 10px;
    margin-top: 1rem;
 }
 .lat-blog-one img{
    width: 100%;
    height: 250px;
 }
/* desktop device */
@media screen and (min-width: 900px) {
    .toggle-one, .togle{
        display: none;
    }
}
/* tablets device */
@media screen and (min-width: 567px) and (max-width: 899px) {
    .header-one,.header-two,.header-three, .header-four,.header-five,.header-six{
        height: 45rem;
    }
    .nav-link{
        display: none;
    }
    .nav-link li{
        border-bottom: 1px solid #ffff;
        padding: 1rem;
        margin: 0;
    }
    .nav-link li a:hover{
        background: none;
        color: red;
        margin-left: 2rem;
        transition: 0.5s;
    }
    .open{
        display: block;
        position: absolute;
        background-color: #080808c8;
        width: 100%;
        top: 4rem;
        z-index: 1;
        margin: 0;
        right: .1rem;
        animation-name: opentoggle;
        animation-duration: 0.5s;
    }
    .acc{
        width: 100%;
        margin: 0;
        top: 51px;
        left: 0px;
    }
    @keyframes opentoggle{
        from{
            left: -1000px;
        }
        to{
            left: 0px;
        }
    }

    .toggle-two{
        position: absolute;
        right: 1rem;
        top: .5rem;
    }
    .banner{
        height: 80%;
        margin: 1rem;
    }
    .banner-cut{
        display: grid;
        position: relative;
    }
    .banner-welcome p{
        width: 100%;
        font-size: 20px;
        font-weight: 600;
        font-family: monospace;
    }
    .more{
        display: none;
    }
    .welcome{
        font-size: 30px;
    }
    .logo-img{
        top: 15rem;
        right: 1rem;
    }
    .blog-img{
        width: 80%;
        left: 10%;
    }
    .blog-img-2{
        width: 50%;
        position: relative;
        left: 23%;
        margin: 1rem 0 1rem 0;
     }
}
/* for android */
@media screen and (min-width: 0px) and (max-width: 566px) {
    .header-one, .header-two, .header-three, .header-four,.header-five,.header-six{
        height: 45rem;
    }
    .nav-link{
        display: none;
    }
    .nav-link li{
        border-bottom: 1px solid #ffff;
        padding: 1rem;
        margin: 0;
    }
    .nav-link li a:hover{
        background: none;
        color: red;
        margin-left: 2rem;
        transition: 0.5s;
    }
    .open{
        display: block;
        position: absolute;
        background-color: #080808c8;
        width: 100%;
        top: 4rem;
        right: .01rem;
        z-index: 1;
        margin: 0;
        animation: opentoggle 0.5s;
    }
    @keyframes opentoggle{
        from{
            left: -1000px;
        }
        to{
            left: 0px;
        }
    }
    .toggle-two{
        position: absolute;
        right: 1rem;
        top: .5rem;
    }
    .foot-all{
        display: grid;
    }
    .banner{
        margin: 1rem;
    }
    .other-banner{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .other-banner h1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-cut{
        display: grid;
        position: relative;
    }
    .banner-welcome p{
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        font-family: monospace;
    }
    .welcome{
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .logo-img{
        top: 20rem;
        right: .1rem;
        width: 7.5rem;
    }
    .logo-one{
        width: 100px;
        border-radius: 50%;
    }
    .more{
        display: none;
    }
    @keyframes welcome{
        0%{
            top: -1000px;
        }
        100%{
            top: -30px;
        }
    }
    .other-banner-content h3{
        font-size: 17px;
    }
    .question{
        margin: 1rem;
        font-size: 15px;
    }
    .angles{
        right: 3%;
    }
    .blog-img{
        width: 100%;
        left: 1%;
    }
    .blog-img-2{
        width: 80%;
        position: relative;
        left: 10%;
        margin: 1rem 0 1rem 0;
     }
     .acc{
        width: 100%;
        margin: 0;
        top: 51px;
        left: 0px;
    }
}