*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: #080808;
    color: #ffff;
}
.logo{
    font-size: 25px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header-one{
    background: linear-gradient(to top, rgba(224, 6, 6, 0.637), rgba(128, 0, 128, 0.707)), url("./images/img1.jpg");
    background-size: cover;
    width: 100%;
    height: 50rem;
}
.header-two{
    background: linear-gradient(to top, rgba(224, 6, 6, 0.637), rgba(128, 0, 128, 0.707)), url("./images/coding.png");
    background-size: cover;
    width: 100%;
    height: 50rem;
}
.header-three{
    background: linear-gradient(to top, rgba(224, 6, 6, 0.637), rgba(128, 0, 128, 0.707)), url("./images/laptop1.jpg");
    background-size: cover;
    width: 100%;
    height: 50rem;
}
.header-four{
    background: linear-gradient(to top, rgba(224, 6, 6, 0.637), rgba(128, 0, 128, 0.707)), url("./images/laptop.jpg");
    background-size: cover;
    width: 100%;
    height: 50rem;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
    align-items: center;
}
.nav-link{
    display: flex;
}
.nav-link li{
    list-style: none;
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav-link li a{
    color: #ffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
.nav-link li a:hover{
    background-color: blue;
}
.toggle-one{
    font-size: 25px;
    background-color: blue;
    padding:  5px 9px;
    cursor: pointer;
    border-radius: 5px;
}
.toggle-two{
    font-size: 30px;
    cursor: pointer;
    border-radius: 3px;
}
.togle{
    background-color: red;
    width: 100%;
    position: relative;
    height: 3rem;
}
.banner{
    display: flex;
    align-items: center;
    height: 80%;
    margin-left: 4rem;
}
.other-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.other-banner h1{
    text-align: center;
}
.welcome{
    color: #ffff;
    font-size: 45px;
    font-weight: 700;
}
.welcome span{
    color: rgb(255, 0, 0);
}
.banner button{
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background-color: rgba(191, 2, 191, 0.881);
    margin-top: 5rem;
}
.banner button a{
    text-decoration: none;
    color: #ffff;
}
.banner-cut{
    display: grid;
    position: relative;
}
.banner-welcome p{
    width: 50%;
    font-size: 20px;
    font-weight: 600;
    font-family: monospace;
}
.logo-img{
    background-color: rgba(3, 2, 49, 0.72);
    padding: .6rem;
    border-radius: 5px;
    width: 10rem;
    position: absolute;
    right: 10rem;
    top: 8rem;
    box-shadow: 0 0 10px 3px rgb(255, 0, 68);
}
.logo-one{
    width: 140px;
    border-radius: 50%;
}
.more{
    text-align: center;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.notice{
    margin: 2rem;
    background-color: rgba(255, 0, 68, 0.864);
    padding: 1rem;
    border-radius: 7px;
    text-align: center;
}
.notice h3{
    font-size: 20px;
    margin-bottom: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.notice button{
    margin-top: 2rem;
}
/* comment */
.comment{
    margin: 7%;
    padding: 10px;
    background-color: #313131;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 4px #ffff;
}
.comment form{
    display: grid;
    margin: 1rem;
    font-size: 18px;
}
.comment form input,textarea{
    padding: 7px;
    background: none;
    border: 2px solid wheat;
    outline: none;
    padding: 10px;
    margin:  10px 0 10px 0;
    font-size: 20px;
    color: #ffff;
}
.comment form button{
    background-color: blue;
    padding: 8px;
    border: none;
    color: #ffff;
    border-radius: 4px;
    margin-top: 1rem;
}
/* services */
#service, #port, #about, #overview{
    margin: 2rem;
}
.services{
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-gap: 1rem;
}
.app-one{
    background-color: #3b3b3f;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
}
.app-one strong i{
    font-size: 30px;
}
.app-one p{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.app-one a{
    text-decoration: none;
    font-size: 15px;
    color: red;
}
.app-one:hover{
    background-color: rgb(101, 25, 171);
    transition-duration: 1s;
}
/* footer */
footer{
    background-color: #313131;
    padding: 1rem;
}
.foot-all{
    display: flex;
    justify-content: space-around;
}
.quicklinks ul li, .contact ul li{
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    font-size: 18px;
}
.quicklinks ul li a{
    color: #ffff;
    text-decoration: none;
}
h2{
    color: rgb(242, 4, 44);
}
.copyright{
    text-align: center;
    font-size: 18px; 
}
.copyright p{
    padding: 10px 0px 5px 0px;
    border-top: 2px solid white;
}
.image-me{
    height: 20rem;
    width: 20rem;
    box-shadow: 0px 0px 9px 5px red;
    margin: 1rem;
    background-image: url("./images/img-me.jpg");
    background-size: cover;
}
.about-me-split{
    display: grid;
    grid-template-columns: repeat(2,40%);
    gap: 1rem;
    width: 100%;
}
/* my workd */

.myworks{
    display: grid;
    grid-template-columns: repeat(4,24%);
    gap: 1rem;
}
.works-list{
    background: url("./images/img.jpg") no-repeat;
    height: 20rem;
    background-size: cover;
    border-radius: 1rem;
    position: relative;
}
.inks{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.734), rgba(255, 0, 0, 0.882));
    height: 20rem;
    text-align: center;
    color: #ffff;
    padding: 0px 9px 0px 9px;
    display: none;
}
.links{
    text-align: center;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.507);
    border-radius: 5px;
    padding: 10px 16px;
    margin-top: 1rem;
    font-size: 20px;
}
.links a{
    color: #ffff;
    text-decoration: none;
}
.works-list:hover .inks{
    display: block;
    animation: animate bottom;
    animation-duration: 2s;
}
@keyframes animate{
    0%{

    }
}
.inks h3{
    padding: 5rem 0 2rem 0;
}
.link{
    background-color: #ffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
}
.connect ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.connect ul li{
    margin: 4px 0px 10px 0px;
}
.connect ul li a{
    color: red;
    font-size: 25px;
}
.cts{
    margin: 1rem;
    background-color: #3b3b3f;
    padding: 1rem;
    border-radius: 6px;
}
.cts p{
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 115, 0);
}
.cts i{
    font-size: 20px;
    color: red;
    margin-right: 5px;
}
/* desktop device */
@media screen and (min-width: 900px) {
    .toggle-one, .toggle-two{
        display: none;
    }
}
/* tablets device */
@media screen and (min-width: 567px) and (max-width: 899px) {
    .header-one,.header-two,.header-three, .header-four{
        height: 40rem;
    }
    .nav-link{
        display: none;
    }
    .nav-link li{
        border-bottom: 1px solid #ffff;
        padding: 1rem;
        margin: 0;
    }
    .nav-link li a:hover{
        background: none;
        color: red;
        margin-left: 2rem;
        transition: 0.5s;
    }
    .open{
        display: block;
        position: absolute;
        background-color: #080808c8;
        width: 100%;
        top: 4rem;
        z-index: 1;
        margin: 0;
        right: .1rem;
    }
    .toggle-two{
        position: absolute;
        right: 1rem;
        top: .5rem;
    }
    .foot-all{
        display: grid;
    }
    .banner{
        height: 80%;
        margin: 1rem;
    }
    .banner-cut{
        display: grid;
        position: relative;
    }
    .banner-welcome p{
        width: 100%;
        font-size: 20px;
        font-weight: 600;
        font-family: monospace;
    }
    .more{
        display: none;
    }
    .welcome{
        font-size: 30px;
    }
    .logo-img{
        top: 14rem;
        right: 1rem;
    }
    .services{
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-gap: 1rem;
    }
    #service, #port, #about, #overview{
        margin: 1rem 3rem 2rem 3rem;
    }
    .app-one p{
        font-size: 20px;
    }
    .myworks{
        display: grid;
        grid-template-columns: repeat(2,50%);
        gap: 1rem;
    }
    .about-me-split{
        display: grid;
        grid-template-columns: repeat(1,90%);
        gap: 1rem;
        width: 100%;
    }
}
/* for android */
@media screen and (min-width: 0px) and (max-width: 566px) {
    .header-one, .header-two, .header-three, .header-four{
        height: 45rem;
    }
    .nav-link{
        display: none;
    }
    .nav-link li{
        border-bottom: 1px solid #ffff;
        padding: 1rem;
        margin: 0;
    }
    .nav-link li a:hover{
        background: none;
        color: red;
        margin-left: 2rem;
        transition: 0.5s;
    }
    .open{
        display: block;
        position: absolute;
        background-color: #080808c8;
        width: 100%;
        top: 4rem;
        right: .01rem;
        z-index: 1;
        margin: 0;
    }
    .toggle-two{
        position: absolute;
        right: 1rem;
        top: .5rem;
    }
    .foot-all{
        display: grid;
    }
    .banner{
        margin: 1rem;
    }
    .other-banner{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .other-banner h1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-cut{
        display: grid;
        position: relative;
    }
    .banner-welcome p{
        width: 100%;
        font-size: 20px;
        font-weight: 600;
        font-family: monospace;
    }
    .welcome{
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .logo-img{
        top: 17rem;
        right: .6rem;
    }
    .services{
        display: grid;
        grid-template-columns: repeat(1, 95%);
        grid-gap: 1rem;
    }
    #service, #port, #about, #overview{
        margin: 2rem 1rem 3rem 2rem;
    }
    .app-one p{
        font-size: 25px;
    }
    .myworks{
        display: grid;
        grid-template-columns: repeat(1,95%);
        gap: 1rem;
    }
    .image-me{
        height: 20rem;
        width: 90%;
        box-shadow: 0px 0px 9px 5px red;
        margin: 1rem;
        
    }
    .more{
        display: none;
    }
    .about-me-split{
        display: grid;
        grid-template-columns: repeat(1,90%);
        gap: 1rem;
        width: 100%;
    }
}